<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>

  <%= render 'blog_breadcrumb' %>


  <% if  @blog.audio.present? %>
    <audio controls>

    <source src="<%= @blog.audio.url %>" type="audio/mpeg">Audio</audio><br>

  <% end %>
  

  <div class="blog-body">
    <%= markdown @blog.body %>
  </div>


  

  <% @blog.images.each do |image| %>

   
    <%= image_tag image.url(:large).to_s %> 


  <% end %>

  
</div>
