<div class="card">
  <div class="card-block m-4 p-4">
    <div class="row">
      <div class="col-md-8">
        <h2>Profil bearbeiten</h2>
    
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :passwort %> <i>(Wir benötigen dein aktuelles Passwort für alle Änderungen)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :neues_Passwort %> <i>(leer lassen, wenn du Dein Passwort nicht ändern willst)</i><br>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> Buchstaben und andere Zeichen mindestens</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><i> (leer lassen, wenn du Dein Passwort nicht ändern willst)</i><br>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>

            

            <div class="form-group">
              <%= f.submit "Aktualisieren", class: 'btn btn-primary' %>
            </div>
          <% end %>
      </div>

      <div class="col-md-4">
      <%= render 'pages/close_button' %>
        <h3>Konto löschen</h3>

        <p>Unglücklich? <%= button_to "Konto löschen", registration_path(resource_name), data: { confirm: "Bist du sicher, dass du dein Konto ganz löschen willst? Dann ist es weg mit allen deinen Daten und Texten!" }, method: :delete, class: 'btn btn-danger' %></p>
      </div>
    </div>
  </div>
</div>





