<%= form_for(topic) do |f| %>
  <% if topic.errors.any? %>
    <% topic.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: "Thema" %>
  </div>

  <div class="form-group">
    <%= f.submit "Speichern", class: 'btn btn-primary' %>
  </div>

  <% end %>

