<div class="card-columns">
 <% example_item.images.shift %>
 <% example_item.images.each do |image| %>
   <div class="card">
   	 <img src="<%= image.url(:medium).to_s %>" class="card-img-top" alt="<%= image_title(image.to_s) %>">
   </div>
 <% end %>
</div>

