
 <% if example_item.images.present? %>
  <%= image_tag example_item.images[0].url(:large).to_s, class: "img-fluid" %>
 <% end %>

 <h1><%= example_item.title %></h1>

  <% if  example_item.audio.present? %>
    <audio controls>
    <source src="<%= example_item.audio.url %>" type="audio/mpeg">Audio</audio><br>
  <% end %>

 <p><%= markdown example_item.body %></p>

 <%= render 'display_example_fotos', example_item: example_item %>

 <% if login_checker %>
  <div class="">
  <%= link_to "Beitrag bearbeiten", edit_portfolio_example_path(example_item.portfolio, example_item), class: 'btn btn-warning' %>
  <%= link_to "Beitrag löschen", portfolio_example_path(example_item.portfolio, example_item), method: :delete, data: { confirm: 'Willst du deinen Beitrag wirklich löschen? Dann sind auch die Bilder weg...' }, class: 'btn btn-danger'  %>
  </div><br />
<% end %>
<hr />