<h1>Team Mitglieder</h1>

<%= link_to "Neues Team Mitglied", new_portfolio_url if login_checker %>

<% @angular_portfolio_items.each do |portfolio_item| %>
  <p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></p>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
  <%= link_to "Profil Bearbeiten", edit_portfolio_path(portfolio_item) if login_checker %>
  <%= link_to 'Löschen', portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Bist du sicher?' } if login_checker %>
<% end %>