<div class="container-fluid portfolio-container">
  <div class="row">


    <div class="col-md-7 image-fluid">
       <p> <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '50%' %></p>
       <br />

        <div class="">
          <%= link_to "Neuen Beispielbeitrag erstellen", new_portfolio_example_path(@portfolio_item), class: 'btn btn-primary' if login_checker %>
        </div><br />
        
      <% @portfolio_item.examples.each do |example| %>
        <%= render 'example_item', example_item: example %>
      <% end %>
    </div>  



    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>

      <hr>

      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>

      <hr>

      <h3>Qualifikationen:</h3>

      <% @portfolio_item.technologies.each do |t| %>
      <p><%= t.name %></p>
      <% end %>

      <% if login_checker %>
        <div class="">
          <%= link_to "Profil Bearbeiten", edit_portfolio_path(@portfolio_item), class: 'btn btn-primary' %>
          <%= link_to "Profil Löschen", portfolio_path(@portfolio_item), method: :delete, data: { confirm: 'Willst du dein Profil wirklich löschen? Dann sind auch die Bilder weg...' }, class: 'btn btn-danger'  %>
        </div>
      <% end %>

    
    </div>
  </div>
</div>