
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

	<p class="masthead-brand"><%= image_tag('logo.png') %></p>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">

		<%= nav_helper 'nav-link', 'span' %>
		<%= login_helper 'nav-link' %>

	</div>
</nav>
