
<div class="container">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to fa_icon('globe') + " IC-MN", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= nav_helper 'nav-link', 'li' %>  
      <%= login_helper 'nav-link' %>  
    </ul>
  </div>
</nav>
</div>
