  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title">Zwischengedanken</h1>
      <p class="lead blog-description">Eindrücke von unseren Reisen und vom zuhause bleiben</p>
      
      <% if login_checker %>
      <span>
        <%= link_to 'Blog schreiben / ', new_blog_path %>
      </span>
      <span>
        <%= link_to "Neues Thema anlegen / ", new_topic_path %>
      </span>
      <% end %>
      <span>
        <%= link_to "Themen", topics_path %>
      </span>

      
    </div>
  </div>
