<%= form_for([@portfolio_item, @example_item]) do |f| %>
  <% if @example_item.errors.any? %>
	<% @example_item.errors.full_messages.each do |error| %>
	<%= alert_generator error %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
   <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
   </div>
  </div>


   <div class="col-md-12">
    <div class="form-group">
      <%= f.label :body, 'Beschreibung (Markdown Formatierung nutzen)' %>
      <%= f.text_area :body, class: 'form-control', rows: 13 %>
    </div>
   </div>
 </div>

 <div class="form-group">
   <label class="btn btn-warning">
     Upload Audio (mp3)
     <%= f.file_field :audio, style: 'display:none;' %>
   </label>
   <label class="btn btn-warning">
     Upload Foto(s) 
     <%= f.file_field :images, multiple: true, style: 'display:none;' %>
   </label>
   (Bilder-beschreiben-mit-Zwischenstrichen-als-Alt-Titel.jpg)
 </div>
 <%= render 'display_images' %>
 <div class="form-group">
   <%= f.submit 'Speichern', class: 'btn btn-primary btn-block' %>
 </div>

</div>

<% end %>
