{
    "name": "IC-MN",
    "short_name": "IC-MN",
    "icons": [
        {
            "src": "<%= asset_path 'favicon/android-chrome-192x192.png' %>",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "<%= asset_path 'favicon/android-chrome-512x512.png' %>",
            "sizes": "512x512",
            "type": "image/png"
        }
    ],
    "theme_color": "#1828e1",
    "background_color": "#1828e1"
}
