@import "bootstrap";
@import "font-awesome";
@import "gritter";


/*
 * Globals
 */

 @font-face {
  font-family: 'Lato';
  src:font-url('Lato-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src:font-url('RobotoSlab-Regular.ttf');
}

 body {
  font-family: 'Lato', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  color: #333;
}
/** custom **/

.close_button {
   
}

.gritter-without-image > p {
  font-size: 26px;
  }
