@import "bootstrap";
@import "jquery-ui";
@import "gritter";

@font-face {
  font-family: 'Lato';
  src:font-url('Lato-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src:font-url('RobotoSlab-Regular.ttf');
}

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  font-family: 'Lato', sans-serif;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Roboto Slab', serif;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom styles */

.portfolio-container {
  padding-top: 30px;
}

.portfolio-box{
  border : 2px solid transparent;    
  -webkit-transition : border 500ms ease-out; 
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
}

.portfolio-box:hover{
  border : 2px solid #d3d3d3;
}

.card-columns {
  display: inline-block;
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.gritter-without-image > p {
  font-size: 26px;
  }
